*.iml
.idea/
idea/*
memo/*
memo/
db_conf/*
db_conf
tmp/
memo
node_modules/*
*_test_.*
.DS_Store
*_back_*
vendor
logs
.bundle
*.swp

shared/log
shared/tmp
deploy_tools/log
conf/coll_dump
conf/pub
data/

log_analysis/data/

!.gitkeep

shared/config/virtuoso/
shared/data/

.env

data_updater/virtuoso/database
data_updater/virtuoso/rdf_data/taxonomy