*.iml
.idea/
tmp/
.DS_Store
vendor
logs
.bundle
*.swp
*.log

deploy_tools/log
conf/coll_dump
conf/pub

!.gitkeep

shared/config/virtuoso/
shared/data/

.env

data_updater/virtuoso/database
data_updater/virtuoso/rdf_data/taxonomy
data_updater/dbfile

# Rails
/log/*
!/log/.keep
/config/master.key
/config/credentials/*.key
