*.iml
.idea/
idea/*
memo/*
memo/
db_conf/*
db_conf
tmp/*
memo
node_modules/*
*_test_.*
.DS_Store
*_back_*
vendor
logs
.bundle
*.swp

shared/log
shared/tmp
src/shared/log/
src/shared/tmp/
deploy_tools/log

log_analysis/data/

!.gitkeep

shared/config/virtuoso/
shared/data/

.env
