<div class="container result-summary success">
    <h2>No errors or warnings to show</h2>

    <table class="result">
        <tbody>
        <tr>
            <th>Result:</th>
            <td>
                <span>
                    No Errors Found
                </span>
            </td>
        </tr>
        <tr>
            <th>Files:</th>
            <td>
                <% for(key in file_list) { %>
                  <%= key %>: <%= file_list[key] %><br/>
                <% } %>
            </td>
        </tr>
        <tr>
            <th>Validation Method:</th>
            <td><%= method %></td>
        </tr>
        </tbody>
    </table>
</div>
