<div class="container result-summary">
    <h2>Error found in while checking this document</h2>
    <table class="result">
        <tbody>
        <tr>
            <th>Files:</th>
            <td>
                <% for(key in file_list) { %>
                  <%= key %>: <%= file_list[key] %><br/>
                <% } %>
            </td>
        </tr>
        <tr>
            <th>Validation Method:</th>
            <td><%= method %></td>
        </tr>
        <tr>
            <th>Result:</th>
            <td>
                <span class="error_info">

                    <%  if(exception){%>
                    <%= exception %>
                    <% } %>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>


