<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DDBJ Validation Service</title>

    <!-- Bootstrap -->
    <link href="stylesheets/validator.css" rel="stylesheet">
    <link href="stylesheets/colors.css" rel="stylesheet">
    <link href="stylesheets/fileinput.min.css" media="all" rel="stylesheet" type="text/css"/>
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <h1><a class="navbar-brand" href="#">DDBJ Validation Service</a></h1>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container user-input">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#tab_file" data-toggle="tab">ファイルを登録</a></li>
        <li role="presentation"><a href="#tab_id" data-toggle="tab">URLを入力</a></li>
    </ul>

    <!-- / タブ-->
        <form action="./upload" id="submit_data" method="post" enctype="multipart/form-data">
            <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="tab_file">

                <input id="xml_input" name="xml_input" type="file" style="display: none">
                <div class="input-group">
                  <span class="input-group-btn">
                        <button id="select_file" class="btn btn-default" type="button"><i
                                    class="glyphicon glyphicon-folder-open"></i></button>
                  </span>
                    <input id="file_name" type="text" class="form-control" placeholder="select file ..." disabled>
                </div>

            </div>

            <div class="tab-pane fade" id="tab_id">
                <input id="url_input" name="url_inpu" class="form-control" placeholder="input URL ..." type="text">
            </div>

            <div class="sbmt">
                <div class="row options">
                    <div class="col-sm-2 gutter-0">
                        <button type="button" id="check_data" class="btn btn-default btn-sm">validation</button>
                    </div>
                    <div class="col-sm-10 gutter-0">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a href="#hidemenu" class="acordion-toggle" data-toggle="collapse"
                                   data-taget="#hidemenu">
                                    <span class="glyphicon glyphicon-chevron-right"></span> Options
                                </a>
                            </div>
                            <div id="hidemenu" class="accordion-body collapse">
                                <div id="list-option">
                                    <label>
                                        <input type="radio" id="option-grouped" name="list-option"
                                               value="option-grouped" checked/>
                                        Group Error Message
                                    </label>
                                    <label>
                                        <input type="radio" id="option-sequential" name="list-option"
                                               value="option-sequential">
                                        List Error Message sequentially
                                    </label>
                                </div>
                                <div id="output-option">
                                    <label>
                                        <input id="edit-option" type="checkbox" name="ouptput-option" value="adopt-all">
                                        Edit values
                                    </label>
                                    <label>
                                        <input id="auto-annotation-option" type="checkbox" name="ouptput-option"
                                               value="adopt-all"> Adopt all auto-annotation
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </form>

</div>

<div id="result"></div>

<footer id="footer">
    <div class="container">
        <p>DDBJ Validation Service</p>
    </div>
</footer>

<script src="./javascripts/jquery-1.12.0.min.js"></script>
<script src="./javascripts/underscore-min.js"></script>
<script src="./javascripts/bootstrap.min.js"></script>
<script src="./javascripts/backbone-1.3.1-min.js"></script>
<script src="./javascripts/d3.min.js"></script>
<script src="./javascripts/app.js"></script>
<script>
    $(function () {
        $("#hidemenu")
                .on('show.bs.collapse', function () {
                    $('a[href="#' + this.id + '"]').find('span.glyphicon-chevron-right')
                            .removeClass('glyphicon-chevron-right').addClass('glyphicon-chevron-down');
                })
                .on('hide.bs.collapse', function () { //< 折り畳み閉じる処理
                    $('a[href="#' + this.id + '"]').find('span.glyphicon-chevron-down')
                            .removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-right');
                });

    })
</script>

</body>
</html>