<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ddbj validator alpha</title>

    <!-- Bootstrap -->
    <link href="stylesheets/validator.css" rel="stylesheet">
    <link href="stylesheets/fileinput.min.css" media="all" rel="stylesheet" type="text/css"/>
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <h1><a class="navbar-brand" href="#">DDBJ validator alpha</a></h1>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container user-input">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#tab_file" data-toggle="tab">ファイルを登録</a></li>
        <li role="presentation"><a href="#tab_id" data-toggle="tab">Submission idを入力</a></li>
    </ul>

    <!-- / タブ-->
    <div id="myTabContent" class="tab-content">

        <!--
        <div class="tab-pane fade in active" id="tab_file">
            <form action="./upload" method="post" enctype="multipart/form-data">
                <input type="file" name="xml_input" >
                <input type="submit" >
            </form>
        </div>
        -->
        <div class="tab-pane fade in active" id="tab_file">
            <form action="./upload" method="post" enctype="multipart/form-data">
                <input id="xml_input" name="xml_input" type="file" style="display: none">
                <div class="input-group">
                      <span class="input-group-btn">
                            <button id="select_file" class="btn btn-default" type="button"><i class="glyphicon glyphicon-folder-open"></i></button>
                      </span>
                    <input id="file_name" type="text" class="form-control" placeholder="select file..." disabled>
                </div>

                <div class="input-group">
                    <button type="submit" id="check_data" class="btn btn-default btn-sm">validation</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="tab_id">
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="submission id" size="30">
                </div>
                <div class="form-group">
                    <label class="checkbox-inline"><input type="checkbox" aria-label="option1">Option1</label>
                    <label class="checkbox-inline"><input type="checkbox" aria-label="option2">Option2</label>
                </div>
            </div>
            <div class="input-group">
                <button id="checkdata" type="submit" class="btn btn-default btn-sm">check</button>
            </div>
        </div>
    </div>
</div>

<div id="result"></div>

<footer id="footer">
    <div class="container">
        <p>Validator</p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>

<script type="text/javascript">

    $(function () {
        var output_f = "";
        $('#select_file').click(function(){
            $('input[id=xml_input]').click();
        });
        $('#xml_input').change(function () {
            output_f = $('#xml_input')[0].files[0].name;
            $('#file_name').val(output_f);
        });
        $('#check_data').submit(function(){
            if(output_f == ""){
                return false
            }
        })
    });

</script>


</body>
</html>